
.category-name {
  a {
    color: $gray-dark;
  }
}

ul.categories {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.category-icon {
  $icon-size: 64px;
  width: $icon-size;
  height: $icon-size;
  margin-right: 5px;
}