@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Yrsa');

$logo-color: #F2385A;
$commentary-color: #58b55e;
$whyte: #fcfcfc;
$gray: #232323;

div.topic > ul {

}

div.topic > ul > li {
  display: inline-block;
  padding-right: 10px;
}

em#logo {
  font-family: 'Fira Mono', monospace;
  font-variant-ligatures: none;
  //font-size: 2.5em;
  //letter-spacing: -0.03em;
  margin: 0.2em;
}

#oo_dropping {
  display: inline-block;
  transform: rotate(30deg) translate(0.08em, 0.15em);
  letter-spacing: -0.1em;
  color: $logo-color;
}

#oo_infinity {
  letter-spacing: -0.2em;
}

#logo-colored {
  color: $logo-color;
}

body {
  // font-family: 'Yrsa', serif !important;
  // font-size: 1.6em;
}

