@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Yrsa');

$logo-color: #F2385A;
$commentary-color: #58b55e;
$whyte: #fcfcfc;
$gray: #232323;

div.topic > ul {

}

div.topic > ul > li {
  display: inline-block;
  padding-right: 10px;
}

em#logo {
  font-family: 'Fira Mono', monospace;
  font-variant-ligatures: none;
  //font-size: 2.5em;
  //letter-spacing: -0.03em;
  margin: 0.2em;
}

#oo_dropping {
  display: inline-block;
  transform: rotate(30deg) translate(0.08em, 0.15em);
  letter-spacing: -0.1em;
  color: $logo-color;
}

#oo_infinity {
  letter-spacing: -0.2em;
}

#logo-colored {
  color: $logo-color;
}

body {
  // font-family: 'Yrsa', serif !important;
  // font-size: 1.6em;
}

body.topics > div.container > div.row > a {
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 4em;
}

ol#posts {
  margin-top: 2em;
}

em#logo {
  font-size: 2em;
}

.new_post {
  input {
    margin: 1em;
    width: 95%;
    height: 10em;
  }
}

ol.topics {
  list-style: none;
  li {
    border-bottom: 1px $gray solid;
    margin: .5em;

    li {
      border-bottom: none;
    }
  }
}

.navv {
  nav {
    background-color: $gray !important;
    color: $whyte !important;
  }

  .navbar-default .navbar-brand {
    color: $whyte;
  }

  .navbar-default .navbar-toggle {
    border-color: $whyte;
    &:hover {
      background-color: #2c2b2b;
    }
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: $whyte;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  li.active {
    a {
      background-color: #2c2b2b !important;
      border-bottom: 1px solid $commentary-color;
    }
  }

  li {
    a {
      color: $whyte !important;
      border-bottom: 1px solid $gray;
      &:hover {
        background-color: #2c2b2b !important;
        border-bottom: 1px solid $logo-color;
      }
    }
  }

}

#indexbox {
  display: inline-block;
}

#postbox {
  @extend #indexbox;
}

#categorybox {
  @extend #indexbox;
}
