@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Yrsa');

$logo-color: #F2385A;
$commentary-color: #58b55e;
$whyte: #fcfcfc;
$gray: #232323;
$light-gray: #f5f5f5;

* {
  max-width: 100%;
}

img {
  overflow: visible;
}


div.topic > ul {

}

div.topic > ul > li {
  display: inline-block;
  padding-right: 10px;
}

a.navbar-brand {
  max-width: none;
}

em#logo {
  font-family: 'Fira Mono', monospace;
  font-variant-ligatures: none;
  //font-size: 2.5em;
  //letter-spacing: -0.03em;
  margin: 0.2em;
  min-width: 10em;
  max-width: 200%;
}

#oo_dropping {
  display: inline-block;
  transform: rotate(30deg) translate(0.08em, 0.15em);
  letter-spacing: -0.1em;
  color: $logo-color;
}

#oo_infinity {
  letter-spacing: -0.2em;
}

#logo-colored {
  color: $logo-color;
}

body {
  // font-family: 'Yrsa', serif !important;
  // font-size: 1.6em;
}

body.topics > div.container > div.row > a {
  background: $light-gray;
  margin: 1em;
  padding: 1em;
  margin-bottom: 4em;
  margin-top: 2em;
}

ol#posts {
  margin-top: 2em;
}

.new_post {
  input, textarea {
    margin: 1em;
    width: 95%;
    height: 10em;
  }
}

ol#posts {
  ///-webkit-padding-start: 40px;
  list-style: none;
  li {
    border-bottom: 1px $light-gray solid;
    margin: .5em;
  }
}

strong.username {
  &:before {
    content: '@';
  }
  font-weight: bold;
  display: inline;
  //background: $logo-color;
  //color: $whyte;
  //padding: 0.1em;
  //padding-right: 0.25em;
  //padding-left: 0.25em;
}

.post {
  .pull-right {
    display: inline;
    i {
      padding-right: .25em;
    }
    span {
      vertical-align: top;
      padding-right: .75em;
    }
  }
}

table.topics {
  border-collapse: collapse;
  margin-top: 2em;
  margin-bottom: 2em;
  min-width: 100%;
  thead {
    //background: #eee;
    border-bottom: 3px solid $light-gray;
    th {
      color: $gray;
    }
  }

  tbody {
    &:before {
      content: '';
      display: table-row;
      height: 2px;
    }

    tr {
      &:hover {
        background: $light-gray;
      }
    }
  }

  tr {
    border-bottom: 1px solid $light-gray;
  }

  th, td {
    padding: .5em;
    text-align: center;
  }
}

ol.topics {
  list-style: none;
  li {
    border-bottom: 1px $light-gray solid;
    margin: .5em;

    li {
      border-bottom: none;
    }
  }
}

ol.latest {
  li {
    list-style: none;
    max-width: 100%;
    margin: .5em;
    border-bottom: 1px $light-gray solid;
  }
}

.navv {
  nav {
    background-color: $gray !important;
    color: $whyte !important;
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-default .navbar-brand {
    color: $whyte;
  }

  .navbar-default .navbar-toggle {
    border-color: $whyte;
    &:hover {
      background-color: #2c2b2b;
    }
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: $whyte;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  li.active {
    a {
      background-color: #2c2b2b !important;
      border-bottom: 1px solid $commentary-color;
    }
  }

  li {
    a {
      color: $whyte !important;
      border-bottom: 1px solid $gray;
      &:hover {
        background-color: #2c2b2b !important;
        border-bottom: 1px solid $logo-color;
      }
    }
  }

}

#indexbox {
  display: inline-block;
}

#postbox {
  @extend #indexbox;
}

#categorybox {
  @extend #indexbox;
}


h4.bdesc {
  background: $light-gray;
  padding: .25em;
  padding-left: 3em;
  margin-bottom: 20px;
}

.container {
  ol.breadcrumb {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .alert {
    margin-bottom: 0 !important;
  }
}

div.big {
  padding-left: 1em;
  i {
    font-size: 36px;
    padding-right: .25em;
  }
  h1 {
    padding-left: .25em;
    display: inline;
    vertical-align: top;
  }
}